
<div class="contaier-fluid">
    <div class="row">
        <div class="col-lg-2 cursorStyle">
            <div class="card border-primary">
                <div class="card-header"><i class="bi bi-people text-primary"></i>Employees</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-success">
                <div class="card-header"><i class="bi bi-people text-primary"></i>Vacation</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-danger">
                <div class="card-header"><i class="bi bi-stopwatch text-primary"></i>Overtime</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-warning">
                <div class="card-header"><i class="bi bi-hospital text-primary"></i>Doctor</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-info">
                <div class="card-header"><i class="bi bi-x-octagon text-primary"></i>Sanctions</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-dark">
                <div class="card-header"><i class="bi bi-slack text-primary"></i>Departments</div>
            </div>
        </div>
    </div>
</div>